/* ----------------------------------
 * Project Detail *

    Front-end Developer: Muhannad Abdelrazek;
    Templete version: 1.1;
    E-mail: muhnad.abdelrazek@gmail.com
    codepen: @Muhnad.
    github: Muhannad Abdelrazek
    Twitter: @Muhnad_a.
    Facebook: Muhannad Abdelrazek.

     


Folders Map ==>


-css/
    - custom.css
    - button.css
    - form.css
    - nav.css
    - ui.css
    - license.css
	- normalize.css

-js/
	- custom.js



-Templete Map ==>


-body
    - button section
    - form section
    - nav section
    - ui section

-colors
    -primary color  ===> #11355C.
    - Font color    ===> Mix between #FFF , #11355c.

-Fonts
    - primary Font  ===> sans-serif
    - font-size     ===> 14: 22px.

- css libraries
    - Normalize

-JS libraries
    - none.

-Responsive
    - mobiles: true;
    - tablets: true;
    - laptops: true;

 * ---------------------------------- */

::-moz-selection{
    background: #1860AD;
    color: #FFF
}

::selection{
    background: #1860AD;
    color: #FFF
}
::-webkit-scrollbar {
    width: 5px;
    background: #FFF;
}
::-moz-scrollbar {
    width: 5px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
::-moz-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}

/* ----------------------------------
 * Start Global
 * ---------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto
}

/* ----------------------------------
 * Start Body
 * ---------------------------------- */
body{
    height: auto;
    color: #11355C;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 40px;
    overflow-x: hidden;
}

/* ----------------------------------
 * Start Header
 * ---------------------------------- */
header{
    width: 100%;
    height: auto;
}

/* -----------------
 * Start nav
 * ----------------- */
header .main-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #11355C;
    color: #FFF;
    overflow: hidden;
}

/*start nav logo*/
.main-nav .logo{
    width: 50%;
    float: left;
    padding: 10px;
}
.logo .logo-name{
    font-size: 22px;
    font-weight: bold;
}
.logo .logo-name a{
    color: #FFF;
    text-decoration: none;
}

/*start nav list*/
.main-nav .nav-list{
    width: 50%;
    float: left;
    padding-right: 100px;
}
.nav-list .list-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
      -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
        -webkit-box-pack: end;
              justify-content: flex-end;   
    list-style: none;
    padding-right: 100px;
}
.list-block li{
    display: inline-block;
    padding: 10px;
}
.list-block li:hover,
.list-block li:focus{background: #092038}
.list-block li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}
/***end header***/
main{
    min-height: 500px;
    height: auto
}
main .intro{
    padding: 70px 0 40px;
    text-transform: capitalize
}
.intro a{
    color: #092038;
    font-weight: 400;
}
.intro a:hover,
.intro a:focus{
    text-decoration: none;
    padding: 2px;
    background: #092038;
    color: #FFF;
}
.intro h2{
    font: 600 22px sans-serif;
    padding: 10px 0;
}
.intro h3{
    font: 400 20px sans-serif;
    padding: 10px;
}
.intro p{
    font-size: 18px;
    padding: 5px;
}
.intro span{
    text-transform: none;
    padding: 5px;
    background: #092038;
    color: #FFF
}
/* ----------------------------------
 * Start Footer
 * ---------------------------------- */
footer{
    width: 100%;
    height: 100px;
    padding: 10px;
    background: #092038;
    color: #FFF;
}
footer .copyright{
    text-align: center;
    font: 400 16px sans-serif;
    padding: 10px;
}
footer ul{
    list-style: none;
    width: 200px;
    margin: auto;
    padding-left: 35px;
}
footer ul li{
    display: inline-block;
    padding: 0 5px;
}
footer a{text-decoration: none}


/* ----------------------------------
 * Start media query
 * ---------------------------------- */
/*small screen mobiel*/
@media screen and (max-width: 480px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 300px}
    .intro h2{font-size: 20px}
    .intro h3{font-size: 18px}
    .intro p{font-size: 16px}
}

/*mediem screen tablet*/
@media screen and (min-width: 481px) and (max-width: 700px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 485px}
    .intro h2{font-size: 20px}
    .intro h3{font-size: 18px}
    .intro p{font-size: 16px}

}

/*large screen */
@media screen and (min-width: 701px) and (max-width: 960px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 700px}
    .intro h2{font-size: 20px}
    .intro h3{font-size: 18px}
    .intro p{font-size: 16px}
    
}

/*xlarge screen*/
@media screen and (min-width: 961px) and (max-width: 1250px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 960px}
}

