/* ----------------------------------
 * Project Detail *

    Front-end Developer: Muhannad Abdelrazek;
    Templete version: 1.1;
    E-mail: muhnad.abdelrazek@gmail.com
    codepen: @Muhnad.
    github: Muhannad Abdelrazek
    Twitter: @Muhnad_a.
    Facebook: Muhannad Abdelrazek.

     


Folders Map ==>


-css/
    - custom.css
    - button.css
    - form.css
    - nav.css
    - ui.css
    - license.css
	- normalize.css

-js/
	- custom.js



-Templete Map ==>


-body
    - button section
    - form section
    - nav section
    - ui section

-colors
    -primary color  ===> #11355C.
    - Font color    ===> Mix between #FFF , #11355c.

-Fonts
    - primary Font  ===> sans-serif
    - font-size     ===> 14: 22px.

- css libraries
    - Normalize

-JS libraries
    - none.

-Responsive
    - mobiles: true;
    - tablets: true;
    - laptops: true;

 * ---------------------------------- */
::-moz-selection{
    background: #1860AD;
    color: #FFF
}
::selection{
    background: #1860AD;
    color: #FFF
}
::-webkit-scrollbar {
    width: 5px;
    background: #FFF;
}
::-moz-scrollbar {
    width: 5px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
::-moz-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
/*Start Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 1200px;
    margin: auto
}
.clearfix{clear: both}
/*End Global*/

body{
    height: auto;
    color: #11355C;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
    overflow-x: hidden;
}

/***start header***/
header{
    width: 100%;
    height: auto;
}

/*start nav*/
header .main-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #11355C;
    color: #FFF;
    overflow: hidden;
}

/*start nav logo*/
.main-nav .logo{
    width: 50%;
    float: left;
    padding: 10px;
}
.logo .logo-name{
    font-size: 22px;
    font-weight: bold;
}
.logo .logo-name a{
    color: #FFF;
    text-decoration: none;
}

/*start nav list*/
.main-nav .nav-list{
    width: 50%;
    float: left;
    padding-right: 100px;
}
.nav-list .list-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
      -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
        -webkit-box-pack: end;
              justify-content: flex-end;   
    list-style: none;
    padding-right: 100px;
}
.list-block li{
    display: inline-block;
    padding: 10px;
}
.list-block li:hover,
.list-block li:focus{background: #092038}
.list-block li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

/*start header content*/
header .header-content{
    width: 800px;
    color: #11355C;
    padding: 50px 0;
    margin:0 auto 50px;
    text-align: center;
}
.header-content h1{
    font-size: 3em;
    font-weight: 500
}
.header-content h1 span{background: #11355C;color: #FFF}
.header-content h2{
    font-size: 2em;
    font-weight: 400;
    padding-top: 10px
}
/***end header***/

/***start library content***/
.library-content{
    width: 100%;
    height: auto;
}
.library-content .library{
    width: 100%;
    min-height: 400px;
    height: auto;
    margin-bottom: 10px;
}
.library-content .library-name{
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}


/**button container*/
.button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    padding: 10px 20px;
}
.button-container .code{
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #11355C;
    font-size: 16px;
    position: relative;
    top: 65px;
    left: -110px;
}
.button {
  border: none;
  border-radius: 24px;
  margin: 10px 10px 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  text-align: center;
  line-height: 1.3;
  font-size: 14px;
  color: #fff;
  background: transparent;
  text-transform: none;
  font-weight: 500;
  min-width: 48px;
  min-height: 48px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.button:hover {
  opacity: .9;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
/*Border*/
.btn-border:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
.button.btn-border {
  background: transparent;
  border: 2px solid #11355C;
  color: #11355C;
}
.button.btn-border:hover {
  background: #11355C;
  border-color: #11355C;
  color: #FFF;
}
/*3D*/
.button.btn-3d{
    background: #11355C;
    border: 2px solid #11355C;
    color: #FFF;
    position: relative;
    box-shadow: 0 4px 0 #092038;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out
}
.btn-3d:active{
    box-shadow: 0 0 0 #092038;
    top: 4px;
}
/*animate*/
.btn-animate {
  background: transparent;
  border: 2px solid #11355C;
  color: #11355C;
}
.btn-animate:hover, 
.btn-animate:focus {
  box-shadow: 0 0 0 2px #11355C;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: animate 0.5s 1;
  animation: animate 0.5s 1;
}
.btn-animate {
  background: #11355C;
  color: #FFF;
}
.btn-animate:hover {
  box-shadow: 0 0 0 2px #196ABE, 0 0 0 4px #196ABE;
}
.btn-animate:active,
.btn-animate:active {
  background: #196ABE;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  box-shadow: 0 0 0 2px #196ABE, 0 0 0 4px #196ABE;
}
@keyframes animate {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes animate {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
/*stretch*/
.btn-stretch {
  color: #FFF;
  background: #11355C;
  border: none;
  -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  box-shadow: 0 0 .25em #333;
  cursor: pointer;
}
.btn-stretch:active {
  -webkit-transform: scale(1.2, 0.8);
    transform: scale(1.2, 0.8);
}
/*skew*/
@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
.btn-skew {
  text-align: center;
  text-decoration: none;
  color: #11355C;
  border: 2px solid #11355C;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
.btn-skew:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 4em;
  display: block;
  position: absolute;
  top: 0;
  left: -1em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}
.btn-skew:hover {
  background-color: #11355C;
  color: #FFF;
  border-bottom: 4px solid #092038;
}
.btn-skew:hover:before {
  -webkit-transform: skewX(-45deg) translateX(13.5em);
          transform: skewX(-45deg) translateX(13.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/*move*/
.btn-move {
    border: 2px solid #11355C;
    color: #11355C;
    position: relative;
    overflow: hidden;
}
.btn-move:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #11355C;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.btn-move:hover {
    color: #fff;
}
.btn-rt:before {
    top: 100%;
    left: 100%;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.btn-rt:hover:before {
    top: -30px;
    left: -30px;
}
/*left*/
.btn-lf:before {
    left: -30px;
    bottom: 100%;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.btn-lf:hover:before {
    bottom: -50px;
}
/*top*/
.btn-tp:before {
    top: 0;
    left: -200%;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.btn-tp:hover:before {
    top: -30px;
    left: -30px;
}
/*line*/
.btn-line{
  background:#11355C;
  color:#fff;
    position: relative;
  border:none;
  cursor:pointer;
  -webkit-transition: 800ms ease all;
  transition:800ms ease all;
}
.btn-line:hover{
  background:#fff;
  color:#11355C;
}
.btn-line:before,.btn-line:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #11355C;
  -webkit-transition: 400ms ease all;
  transition:400ms ease all;
}
.btn-line:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-line:hover:before,.btn-line:hover:after{
  width:100%;
  -webkit-transition: 800ms ease all;
  transition:800ms ease all;
}
/*cricle*/
.btn-crc{
    position: relative;
    border: 2px solid #11355C;
    color: #11355C;
    overflow: hidden;
    -webkit-transition: color 0.3s 0.1s ease-out;
    transition: color 0.3s 0.1s ease-out;
}
.btn-crc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    line-height: 20em;
    left: -5em;
    text-align: center;
    -webkit-transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}
.btn-crc:hover {
    color: #fff;
}
.btn-crc:hover::before {
    box-shadow: inset 0 0 0 10em #11355C;
}
/*slide*/
.btn-slide,
.btn-slide::after {
  -webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-slide {
    background: none;
    border: 2px solid #11355C;
    color: #11355C;
    position: relative;
    overflow: hidden;
}
.btn-slide::before,
.btn-slide::after {
    content: "";
    background: #11355C;
    position: absolute;
    z-index: -1;
}
.btn-slide:hover {
    color: #FFF;
}

/*slide top*/
.slide-tp::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 20px;
}
.slide-tp:hover:after {
    height: 100%;
}

/* slide left */
.slide-lf::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
.slide-lf:hover:after {
  width: 100%;
}

/*slide in*/
.slide-in::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
.slide-in:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/*slideskew*/
.slide-sk::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 0;
}
.slide-sk:hover:after {
  height: 100%;
  width: 135%;
}

/*flat*/
.btn-flat {
    position: relative;
    background: #11355C;
    color: #FFF;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.btn-flat:after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #092038;
    z-index: -2;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.btn-flat:hover::after {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
/*simple*/
.button-simple{
  display: block;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  font-family: sans-serif;
  cursor: pointer;
}
.btn-si{background: #2ecc71}
.btn-si:hover{background: #27ae60}
.btn-si2{background: #1abc9c}
.btn-si2:hover{background: #16a085}
.btn-si3{background: #3498db}
.btn-si3:hover{background: #2980b9}
.btn-si4{background: #34495e}
.btn-si4:hover{background: #2c3e50}
.btn-si5{background: #e74c3c}
.btn-si5:hover{background: #c0392b}
/* ----------------------------------
 * Start Footer
 * ---------------------------------- */
footer{
    width: 100%;
    height: 100px;
    padding: 10px;
    background: #092038;
    color: #FFF;
    overflow: hidden
}
footer .copyright{
    text-align: center;
    font: 400 16px sans-serif;
    padding: 10px;
}
footer ul{
    list-style: none;
    width: 200px;
    margin: auto;
    padding-left: 35px;
}
footer ul li{
    display: inline-block;
    padding: 0 5px;
}
footer a{text-decoration: none}


/***end library content***/





/*** media quiery***/
@media screen and (max-width: 480px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 300px}
    
    /*header*/
    header .header-content{
        width: 300px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
    
    /*btn-container*/
    .button-container{padding-left: 40px}
}

@media screen and (min-width: 481px) and (max-width: 700px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 500px}
    
    /*header*/
    header .header-content{
        width: 500px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
}

@media screen and (min-width: 701px) and (max-width: 960px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 700px}
    
    /*header*/
    header .header-content{
        width: 700px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
}

@media screen and (min-width: 961px) and (max-width: 1250px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 960px}
    
    /*header*/
    header .header-content{
        width: 960px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
}

