/* ----------------------------------
 * Project Detail *

    Front-end Developer: Muhannad Abdelrazek;
    Templete version: 1.1;
    E-mail: muhnad.abdelrazek@gmail.com
    codepen: @Muhnad.
    github: Muhannad Abdelrazek
    Twitter: @Muhnad_a.
    Facebook: Muhannad Abdelrazek.

     


Folders Map ==>


-css/
    - custom.css
    - button.css
    - form.css
    - nav.css
    - ui.css
    - license.css
	- normalize.css

-js/
	- custom.js



-Templete Map ==>


-body
    - button section
    - form section
    - nav section
    - ui section

-colors
    -primary color  ===> #11355C.
    - Font color    ===> Mix between #FFF , #11355c.

-Fonts
    - primary Font  ===> sans-serif
    - font-size     ===> 14: 22px.

- css libraries
    - Normalize

-JS libraries
    - none.

-Responsive
    - mobiles: true;
    - tablets: true;
    - laptops: true;

 * ---------------------------------- */
::selection{
    background: #1860AD;
    color: #FFF
}
::-webkit-scrollbar {
    width: 5px;
    background: #FFF;
}
::-moz-scrollbar {
    width: 5px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
::-moz-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
/*Start Global */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.container{
    width: 1200px;
    margin: auto
}
.clearfix{clear: both}
/*End Global*/

body{
    height: auto;
    color: #11355C;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
    overflow-x: hidden;
}

/***start header***/
header{
    width: 100%;
    height: auto;
}

/*start nav*/
header .main-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #11355C;
    color: #FFF;
    overflow: hidden;
}

/*start nav logo*/
.main-nav .logo{
    width: 50%;
    float: left;
    padding: 10px;
}
.logo .logo-name{
    font-size: 22px;
    font-weight: bold;
}
.logo .logo-name a{
    color: #FFF;
    text-decoration: none;
}

/*start nav list*/
.main-nav .nav-list{
    width: 50%;
    float: left;
    padding-right: 100px;
}
.nav-list .list-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
      -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
        justify-content: flex-end;   
    list-style: none;
    padding-right: 100px;
}
.list-block li{
    display: inline-block;
    padding: 10px;
}
.list-block li:hover,
.list-block li:focus{background: #092038}
.list-block li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

/*start header content*/
header .header-content{
    width: 800px;
    color: #11355C;
    padding: 50px 0;
    margin:0 auto 50px;
    text-align: center;
}
.header-content h1{
    font-size: 3em;
    font-weight: 500
}
.header-content h1 span{background: #11355C;color: #FFF}
.header-content h2{
    font-size: 2em;
    font-weight: 400;
    padding-top: 10px
}
/***end header***/

/* ----------------------------------
 * Start Navigation bar
 * ---------------------------------- */
.library-nav{
    min-height: 200px;
    height: auto;
}
.nav-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    padding: 10px 20px;
}
.library-content .library-name{
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}
.nav-container .code{
    display: inline-table;
    text-decoration: none;
    color: #11355C;
    font-size: 16px;
    position: relative;
    top: 70px;
    left: -245px;
}
/*nav 1*/
.library-nav .nav {
   color: #11355C;
	width:80%;
	height:65px;
	-webkit-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	-moz-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
    margin-bottom: 50px;
    overflow:hidden;
}
.nav li {
    float: left;
    height:70px;
	text-align:center;
	font-size: 20px;
	color: #11355C;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	padding-top:17px;
	list-style: none;
	border-left:1px solid rgba(0,0,0,.1);
}
.nav li:first-child {
	font-weight:bold;
	border-left:none;
}
.nav li:hover {
	background-color:#092038;
}
.nav li a{
	color: #11355C;
	text-decoration:none;
}
.nav li:hover a{
  color: #FFF;
}
/*nav 2*/
.nav2 {background: #092038;}
.nav2 > .active1{
    background: #122f4c;
    border-top: 3px solid #16A085;
}
.nav2 > li{color: #FFF}
.nav2 > li a{color: #FFF}
.nav2 > li:not(.active1):hover {
    background:#122f4c;
    border-top: 3px solid #55ACEE;
}

/*nav-vr-container*/
.nav-vr-container{
    min-height: 200px;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.nav-vr-container .code{
    left: -165px;
    top: 155px;
}
/*nav 3*/
.navbar {
  display: block;
  width: 25%;
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
}
.navbar > li {
  background: #3F4A4F;
  border-top: 1px solid #8A8A94;
  border-bottom: 1px solid black;
}
.navbar a {
  display: block;
  text-decoration: none;
  color: #EDEDED;
  width: 100%;
  height: 100%;
  line-height: 50px;
  border-left: 5px solid transparent;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.navbar li.active a {
  color: #EC6E00;
  border-left: 5px solid #EC6E00;
  background-color: #323C40;
  outline: 0;
}
.navbar > li:not(.active):hover a {
  color: #FAFAFA;
  border-left: 5px solid #11355C;
  background: #323C40;
}
/*nav 4*/
.navbar4 .active4{border-left: 4px solid #EC6E00}
.navbar4 li{border-left: 4px solid #EC6E00}
.navbar4 > li:not(.active):hover a {
  color: #FAFAFA;
  border-right: 5px solid #16A085;
  border-left: 5px solid transparent;
  background: #323C40;
}
/*nav 5*/
.navbar5 li{
    color: #FFF;
    border-top: 1px solid rgba(255,255,255,0.1);
    background: #252525;
}

/* ----------------------------------
 * Start Footer
 * ---------------------------------- */
footer{
    width: 100%;
    height: 100px;
    padding: 10px;
    background: #092038;
    color: #FFF;
    overflow: hidden
}
footer .copyright{
    text-align: center;
    font: 400 16px sans-serif;
    padding: 10px;
}
footer ul{
    list-style: none;
    width: 200px;
    margin: auto;
    padding-left: 35px;
}
footer ul li{
    display: inline-block;
    padding: 0 5px;
}
footer a{text-decoration: none}


/***end library content***/





/*** media quiery***/
@media screen and (max-width: 480px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 300px}
    
    /*header*/
    header .header-content{
        width: 300px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
        /*library nav*/
    .nav-container:not(.nav-vr-container){display: none}
    .nav-vr-container{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .navbar{width: 100%}
    .nav-vr-container .code{top: -35px;left: 115px}
    /*btn-container*/
    .button-container{padding-left: 40px}
}

@media screen and (min-width: 481px) and (max-width: 700px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 500px}
    
    /*header*/
    header .header-content{
        width: 500px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
    /*nav*/
    .nav-vr-container .code{left: -75px}
}

@media screen and (min-width: 701px) and (max-width: 960px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 700px}
    
    /*header*/
    header .header-content{
        width: 700px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
}

@media screen and (min-width: 961px) and (max-width: 1250px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 960px}
    
    /*header*/
    header .header-content{
        width: 960px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
}

