/* ----------------------------------
 * Project Detail *

    Front-end Developer: Muhannad Abdelrazek;
    Templete version: 1.1;
    E-mail: muhnad.abdelrazek@gmail.com
    codepen: @Muhnad.
    github: Muhannad Abdelrazek
    Twitter: @Muhnad_a.
    Facebook: Muhannad Abdelrazek.

     


Folders Map ==>


-css/
    - custom.css
    - button.css
    - form.css
    - nav.css
    - ui.css
    - license.css
	- normalize.css

-js/
	- custom.js



-Templete Map ==>


-body
    - button section
    - form section
    - nav section
    - ui section

-colors
    -primary color  ===> #11355C.
    - Font color    ===> Mix between #FFF , #11355c.

-Fonts
    - primary Font  ===> sans-serif
    - font-size     ===> 14: 22px.

- css libraries
    - Normalize

-JS libraries
    - none.

-Responsive
    - mobiles: true;
    - tablets: true;
    - laptops: true;

 * ---------------------------------- */

::-moz-selection{
    background: #1860AD;
    color: #FFF
}

::selection{
    background: #1860AD;
    color: #FFF
}
::-webkit-scrollbar {
    width: 5px;
    background: #FFF;
}
::-moz-scrollbar {
    width: 5px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
::-moz-scrollbar-thumb {
    height: 40px;
    border-radius: 20px;
    background: #11355c;
}
/*Start Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 1200px;
    margin: auto
}
.clearfix{ clear: both }
/*End Global*/

body{
    height: auto;
    color: #11355C;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
    overflow-x: hidden;
}

/***start header***/
header{
    width: 100%;
    height: auto;
}

/*start nav*/
header .main-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #11355C;
    color: #FFF;
    overflow: hidden;
}

/*start nav logo*/
.main-nav .logo{
    width: 50%;
    float: left;
    padding: 10px;
}
.logo .logo-name{
    font-size: 22px;
    font-weight: bold;
}
.logo .logo-name a{
    color: #FFF;
    text-decoration: none;
}

/*start nav list*/
.main-nav .nav-list{
    width: 50%;
    float: left;
    padding-right: 100px;
}
.nav-list .list-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
      -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
        -webkit-box-pack: end;
              justify-content: flex-end;   
    list-style: none;
    padding-right: 100px;
}
.list-block li{
    display: inline-block;
    padding: 10px;
}
.list-block li:hover,
.list-block li:focus{background: #092038}
.list-block li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

/*start header content*/
header .header-content{
    width: 800px;
    color: #11355C;
    padding: 50px 0;
    margin:0 auto 50px;
    text-align: center;
}
.header-content h1{
    font-size: 3em;
    font-weight: 500
}
.header-content h1 span{
    background: #11355C;
    color: #FFF
}
.header-content h2{
    font-size: 2em;
    font-weight: 400;
    padding-top: 10px
}
/***end header***/

/* ----------------------------------
 * Start Ui library
 * ---------------------------------- */
.library-ui{
    height: auto;
    margin-bottom: 50px;
}
.ui-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    padding: 10px 20px;
}
.library-content .library-name{
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}
.ui-container .code{
    display: inline-table;
    text-decoration: none;
    color: #11355C;
    font-size: 16px;
    position: relative;
    top: 35px;
    left: -295px;
}
.checkbox input,
.radio input{
  opacity: 0;
  position: absolute;
  min-width: 48px;
}
.checkbox input + label,
.radio input + label{
  display: inline-block;
  padding: 2px;
  margin: 2px 8px -2px 0;
  cursor: pointer;
  line-height: 22px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.checkbox input + label:before,
.radio input + label:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 6px;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  border: 2px solid #11355C;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.checkbox input:checked + label,
.radio input:checked + label{ color: #11355C }

.checkbox input:checked + label:before,
.radio input:checked + label:before{
  background: #11355C;
  border-color: #11355C;
}

.radio input + label:before { border-radius: 50% }

/*search*/
.search {
  padding:10px;
  width:300px;
  display:block;
  margin-top: 50px;
  margin-bottom:10px;
  border-radius:6px;
  border:none;
  background:#092038;
  color:#fff;
  outline:none;
}

.search:focus {
  background:#fff;
  border:2px solid #34495E;
  color:#34495E;
  font-weight:600;
}

.search::-webkit-input-placeholder { color: #FFF }

.search:-moz-placeholder { color: #FFF }

.search::-moz-placeholder { color: #FFF }

.search:-ms-input-placeholder { color: #FFF }

.ui-container .search-code{
    top: 105px;
    left: -105px
}
/*search 2*/
.search-form{
  width: 400px;
  height: 60px;
  background: #092038;
  border-radius: 35px;
  border: solid 1px #092038;
  padding: 10px;
  margin-top: 45px;
}
.search-form .search-field{
  padding:10px;
  width: 70%;
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  border-radius: 50px 3px 3px 50px;
}
    
.search-form .search-field:focus {
 background-color: #FFF;
 border-color: #8BADB4;
 outline: none;
}

.search-form .btn{
  width: 20%;
  height: 35px;
  background: #196ABE;
  color: #FFF;
  border-radius: 3px 50px 50px 3px;
  border: 1px solid #196ABE;
  margin: 0 0 0 10px;
  cursor: pointer;
}   
  
.search-form .btn:active{
  background-color: #196ABE;
  outline: none;
}
/*search3*/
.search-form3{
  width: 370px;
  height: 60px;
  background:#f2f3f1;
  box-shadow:0 1px 2px rgba(0,0,0,.4);
  border-radius:3px;
  position:relative;
  top: 50px;
  padding:12px;
}
.search-form3:before{
  content:'';
  background:rgba(0,0,0,.07);
  border-radius:10px;
  box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.7);
  position:absolute;
  top:-10px;
  bottom:-10px;
  left:-10px;
  right:-10px;
  z-index:-1;
}
.search-form3 .search3{
  padding:10px;
  width:70%;
  border:1px solid #ccc;
  color:#bbb;
  background:#fafafa;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(255,255,255,.9);
}
.search-form3 .btn3{
  padding:10px 0;
  width:20%;
  border:1px solid #7e1515;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:0 -1px 0 rgba(0,0,0,.4);
  background:#d14545;
  box-shadow:0 1px 0 rgba(255,255,255,.4) inset;
  border-radius:3px;
  cursor: pointer;
}
.search-form3 .btn3:hover,
.search-form3 .btn3:focus{
  background-color:#e97171;
}
.search-form3 .btn3:active{
  outline:none;
  box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;
}
.ui-container .search-code3{
  top: 15px;
  left: 1020px;
}
/*range*/
.ui-container .range-code{
    top: 85px;
    left: -75px
}

input[type='range'] {
   margin-top: 60px;
   width:300px;
   min-width: 48px;
   -webkit-appearance: none;
   border-radius: 5px;
   background: #092038;
   height: 10px;
   outline: none;
   transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background: #55ACEE;
  height: 20px;
  width: 20px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #FF5722;
  height: 20px;
  width: 10px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.range2::-webkit-slider-thumb:active {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
/* ----------------------------------
 * End Ui library
 * ---------------------------------- */

/* ----------------------------------
 * Start Footer
 * ---------------------------------- */
footer{
    width: 100%;
    height: 100px;
    padding: 10px;
    background: #092038;
    color: #FFF;
    overflow: hidden
}
footer .copyright{
    text-align: center;
    font: 400 16px sans-serif;
    padding: 10px;
}
footer ul{
    list-style: none;
    width: 200px;
    margin: auto;
    padding-left: 35px;
}
footer ul li{
    display: inline-block;
    padding: 0 5px;
}
footer a{text-decoration: none}


/***end library content***/





/*** media quiery***/
@media screen and (max-width: 480px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 300px}
    
    /*header*/
    header .header-content{
        width: 300px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
    /*ui container*/
    .ui-container .search-form3{margin-bottom: 30px}
    .ui-container .code{top: 0;left: 90px;}
    .ui-container .search-code3{top: 40px}

}

@media screen and (min-width: 481px) and (max-width: 700px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 16px}
    
    .container{width: 500px}
    
    /*header*/
    header .header-content{
        width: 500px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
    /*ui container*/
    .ui-container .search-form3{margin-bottom: 45px}
    .ui-container .label-code{top: 0;left: 90px}
    .ui-container .search-code3{top: 120px;left: -135px}    
    .ui-container .range-code{top: 70px;left: -70px}

}

@media screen and (min-width: 701px) and (max-width: 960px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 700px}
    
    /*header*/
    header .header-content{
        width: 700px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
    /*ui container*/
    .library-ui{height: 550px}
    .checkbox{margin-bottom: 50px}
    .ui-container .search-form3{margin-bottom: 45px}
    .ui-container .search-code3{top: 120px;left: -135px}     
    .ui-container .range-code{top: 75px;left: -60px}
    .ui-container .range-code2{top: 5px;left: 520px}
}

@media screen and (min-width: 961px) and (max-width: 1250px) {
    /*main nav*/
    .main-nav .nav-list{padding-right: 0}
    .nav-list .list-block{padding-right: 0}
    .list-block li a{font-size: 18px}
    
    .container{width: 960px}
    
    /*header*/
    header .header-content{
        width: 960px;
        margin: 0;
        font-size: 14px;
        line-height: 3.4em;
    }
    /*ui container*/
    .checkbox{margin-bottom: 50px}
    .search{margin-top: 0}
    .ui-container .search-code3{top: 120px;left: -135px} 
    input[type='range']{margin-bottom: 50px}
}

